body {
    background-color: rgb(230, 230, 230);
font-family: Arial, Helvetica, sans-serif;
}
@keyframes cores {

}
    

.banner {
    background-color: rgb(135, 172, 114);
    padding-top: 40px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.links2{
    
    margin-top: 10px;
    background-color: rgba(70, 153, 128, 0.466);
    height: 50%;
width: 80%;
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
border: solid 2px;
border-radius: 7px;
margin-left: 10%;
}
#logo1{
    margin: 15px;
}
* {
    margin: 0;
    padding: 0; 
}
.titulo {
position: absolute;
top: 10%;
font-size: 36px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.sitemex{
    position: absolute;
    top: 10%;
    right: 10%;
}
.sites{
    margin: 5px;
    padding: 10px;
    font-size: 17px;
    border-right:1px green solid;
    border-left: 1px green solid;
    border-radius: 10px;
    transition: background-color 0.5s, height 0.5s, width 0.5s;
}
.sites:hover{
background-color:rgb(114, 172, 119) ;
}
.produto {

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white ;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 5%;
    padding-right: 5%;
    margin: 10px;

}

.produtof{
height: 100%;
}
.escolhas {
    margin-top: 250px;
}
article {

    font-size: 30px;
    text-align: center;
}
.escolhas {
    padding: 10px;
    margin-right: 10px;
}

.programação{
    position: absolute;
    top: 450px;
    margin: 50px;
    border-bottom:2px black dashed;
}

footer {
    color:rgb(0, 0, 0);
    width: 94.6%;
    margin-left: 0px;
    position: absolute ;
    height: 100px;
    margin-top: 10%;
    background-color: rgb(135, 172, 114);
    font-size: 10px;
    padding: 50px;

}
.contfoot{
    border-bottom: 1px black solid;
    height: 30px;
}
#copyright{
    float: right;
    
    margin-right: 30px;
}
#logo img{
size: 10px;
}
#navfoot, a{
    margin: 5px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}


aside {

height: 800px;
width: 800px;}
.center1 {
    background-color: red;
    width: 80%;

}
.imagem2 {
    height: 200px;
    width: 400px;
}